* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

:root {
    --component-primary: #9E768F;
    --component-secondary: #6C464F;
    --text-primary: #EDE7DD;
    --text-secondary: #d3e5bc;
    --option1: #6EB1E4;
    --option2: #E4AE6E;
    --option3: #BEE46E;
    --option4: #CC6EE4;
    --option5: #6EE4E4;
    --option6: #936EE4;
    --option7: #E46E9C;
    --option8: #6EE479;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

p {
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 64px 0px;
    background-color: var(--component-primary);
    color: var(--text-primary);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

#search-bar {
    width: 60%;
    height: 64px;
    background-color: var(--component-secondary);
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 8px;
    color: var(--text-secondary);
    padding: 0px 12px;
}

#search-icon {
    height: 24px;
}

#view-btns {
    display: flex;
    gap: 12px;
}

#card-view-btn,
#list-view-btn {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--component-secondary);
    border-radius: 10px;
    border: none;
}

#card-view-btn {
    border: 1px solid white;
}

#view-btns > button:hover {
    border: 1px solid white;
}

#view {
    flex: 1;
    padding: 100px 0px;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

#view.list-view {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-view .card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bus-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.list-view .bus-img {
    width: 120px;
    max-height: 120px;
    border-radius: 10px 0 0 10px;
}

.option-text {
    border-radius: 0px 0px 10px 10px;
    height: fit-content;
    width: 300px;
    padding: 0px 12px 24px 12px;
    background-color: var(--component-secondary);
}

.list-view .option-text {
    width: 100%;
    border-radius: 0 10px 10px 0;
}

#bus-url {
    text-decoration: none;
    color: var(--text-secondary);
}

#bus-url:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px
}

section heading {
    font-size: 32px;
    text-transform: capitalize;
}

div.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px
}